POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lms
POSTGRES_PORT=5432

APP_PORT=8080

# строка подключения для Go-сервиса
DB_URL=postgres://postgres:postgres@db:5432/lms?sslmode=disable
